* {
  font-size: 1rem;
}

.navbar {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.services {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.client-item {
  display: flex;
  flex-wrap: wrap;
}

.client-item img {
  height: 15vh;
  padding: 2vh;
}

.contactBox form {
  width: 100%;
}
