/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhaijaan 2", cursive;
  background-color: black;
  color: white;
}

/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation Bar - Logo */
.logo img {
  display: inline-block;
  height: 10vh;
  margin: 2vh 7vh;
}

/* Navigation Bar - List Styling */
.center {
  margin-left: 10vw;
  margin-right: 10vw;
}

.center ul {
  display: flex;
}

.center ul li {
  list-style: none;
  font-size: 1.3rem;
}

.center ul li a {
  display: block;
  text-decoration: none;
  padding: 1.5rem;
}

.center ul li a:hover {
  color: rgb(109, 104, 104);
}

/* Main Content */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}

/* Services Section */
.services-container {
  padding: 5vh;
}

.services {
  display: flex;
}

.services .box {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5vh;
  margin-left: 2vh;
  margin-bottom: 5vh;
}

.services .box img {
  height: 25vh;
  display: block;
  margin: auto;
}

.services .box p {
  font-size: 1.2rem;
}

/* Client Section */
.client-item img {
  height: 30vh;
  padding: 5vw;
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Section */
.contact {
  margin: 5vh;
}

.contactBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
}

.contactBox input,
.contactBox textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 7px;
  font-size: 1.2rem;
}

.contactBox form {
  width: 50%;
}

.contactBox label {
  font-size: 1.3rem;
}

/* Footer */
footer {
  padding: 10px;
}

/* Utility Classes */
/* Utility Classes - h1 */
.h-primary {
  font-size: 2.5rem;
  padding: 1vh;
}

/* Utility Classes - h2 */
.h-secondary {
  font-size: 1.5rem;
}

/* Utility Classes - Text-Center */
.text-center {
  text-align: center;
}

/* Utility Classes - Button */
.btn {
  padding: 1vh 2vw;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: #ff0081;
}

.btn:hover {
  background-color: #96064e;
}

.btn-center {
  margin: 15px 40%;
}
